{% extends 'base.html'%}
{%block title%}
Home
{%endblock%}
{% block content%}
{%load static%}
<img src="{% static 'pic2.jpg' %}" height="500" width="500" >
<img src="{% static 'a1.jpeg' %}" height="500" width="500" >
<h1>TAJ PALACE</h1>
<p>The only ‘palace’ hotel in the national capital since 1983, in close proximity to the airport,
    embassies and business district, Taj Palace, New Delhi has been home to world leaders and captains of
    industry. Our boomerang-shaped luxury hotel in Delhi is spread over six acres of verdant greenery and
    balances modern interiors with regional art to create a luxurious ambience.</p>
{%endblock%}
